body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777; 
    background: gold;
    font-size: 30px;
    width: 575px;
    height: 542px;
    }
    
    header {
     text-align: right;
     background: blue;
     
    }
    nav 
        span  {
         text-align: center;
         margin-left: 350px;
         margin-right: 350px;
         background: #ebebeb;   
     }
    
    aside 
        {
         font: 25px;
         text-align: center;
         width: 495px;
         display: block;
         background: #ebebeb;
         float: right;
         height: 350px;
    }

    .images {
         width: 100%;
    }
   
    section 
    {
     width: 495px;
     font-size: 13px;
     text-align: left; 
     margin-bottom: 500px; 
     
     background: #ebebeb; 
}    
    article 
        {
         float: left;
         padding-left: 15px;
         text-align: left;
         width: 495px;
         color: #ebebeb;
         background: #777;
    }
    
   h1 {
         color:rgb(243, 21, 21);
         background: #ebebeb;
    }
    h2 {
         color: rgb(114, 43, 43);
         background: #ebebeb;
         font-size: 25px; 
     }
    h3 {
         color:rgb(49, 22, 22);
         background: #ebebeb;
         font-size: 25px;
    }
    h4 {
         color: red;
         background: #ebebeb;
         font-size: 25px;
    }
    p {
         color: rgb(175, 6, 14);
         background: #ebebeb;
         font-size: 30px;
     }

    footer {
         position: fixed;
         bottom: 0;
         left: 0;
         right: 0;
         height: 30px;
         width: 100%;
         text-align: center;
         font-size: 14px;
     
     }